<!DOCTYPE html>
<html>
<head>
  <title>Chor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-narrow">
  <div class="masthead">
    <%= render 'layouts/user_header' %>
    <h5 class="text-center">A Chore Tracking Application</h5>
  </div>
  <hr />
</div>

<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>


<% if !user_signed_in? %>
  <%= link_to "Sign up", new_user_registration_path, class: 'btn-lg btn-info btn-block text-center'  %>
  <%= link_to "Login", new_user_session_path, class: 'btn-lg btn-info btn-block text-center'  %>
  <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter), class: 'btn-lg btn-info btn-block text-center' %>
  <% end %>

<%= yield %>

</body>
</html>
